In [3]:
import numpy as np
import scipy as sp
import pandas as pd

In [21]:
#Load the data file into data frame

In [4]:
from pandas.io.parsers import read_csv

In [5]:
df=read_csv("WHO_first9cols.csv")

In [6]:
print("Dataframe:\n",df) #íŒŒì¼ì½ê¸° 
print("\n")
#df í•˜ë©´ ë” ê¹”ë” .head() ìž˜ë‚˜ì˜¤ëŠ”ì§€ë§Œ ë³¼ìˆ˜ìžˆìŒ

Dataframe:
                       Country  CountryID  Continent  \
0                 Afghanistan          1          1
1                     Albania          2          2
2                     Algeria          3          3
3                     Andorra          4          2
4                      Angola          5          3
5         Antigua and Barbuda          6          4
6                   Argentina          7          5
7                     Armenia          8          2
8                   Australia          9          6
9                     Austria         10          2
10                 Azerbaijan         11          2
11                    Bahamas         12          4
12                    Bahrain         13          1
13                 Bangladesh         14          7
14                   Barbados         15          4
15                    Belarus         16          2
16                    Belgium         17          2
17                     Belize         18          5
18                      Benin         19          3
19                    Bermuda         20          4
20                     Bhutan         21          7
21                    Bolivia         22          5
22     Bosnia and Herzegovina         23          2
23                   Botswana         24          3
24                     Brazil         25          5
25          Brunei Darussalam         26          6
26                   Bulgaria         27          2
27               Burkina Faso         28          3
28                    Burundi         29          3
29                   Cambodia         30          7
..                        ...        ...        ...
172                 Swaziland        173          3
173                    Sweden        174          2
174               Switzerland        175          2
175                     Syria        176          1
176                    Taiwan        177          6
177                Tajikistan        178          2
178                  Tanzania        179          3
179                  Thailand        180          6
180               Timor-Leste        181          6
181                      Togo        182          3
182                     Tonga        183          6
183       Trinidad and Tobago        184          5
184                   Tunisia        185          1
185                    Turkey        186          2
186              Turkmenistan        187          2
187                    Tuvalu        188          6
188                    Uganda        189          3
189                   Ukraine        190          2
190      United Arab Emirates        191          1
191            United Kingdom        192          2
192  United States of America        193          4
193                   Uruguay        194          5
194                Uzbekistan        195          2
195                   Vanuatu        196          6
196                 Venezuela        197          5
197                   Vietnam        198          6
198        West Bank and Gaza        199          1
199                     Yemen        200          1
200                    Zambia        201          3
201                  Zimbabwe        202          3

     Adolescent fertility rate (%)  Adult literacy rate (%)  \
0                            151.0                     28.0
1                             27.0                     98.7
2                              6.0                     69.9
3                              NaN                      NaN
4                            146.0                     67.4
5                              NaN                      NaN
6                             62.0                     97.2
7                             30.0                     99.4
8                             16.0                      NaN
9                             14.0                      NaN
10                            31.0                     98.8
11                            46.0                      NaN
12                            14.0                     86.5
13                           135.0                     47.5
14                            51.0                      NaN
15                            22.0                     99.6
16                             5.0                      NaN
17                            90.0                     70.3
18                           108.0                     34.7
19                             NaN                      NaN
20                            62.0                      NaN
21                            97.0                     86.7
22                            25.0                     96.7
23                            51.0                     81.2
24                            71.0                     88.6
25                            31.0                     92.7
26                            40.0                     98.2
27                           131.0                     23.6
28                            30.0                     59.3
29                            52.0                     73.6
..                             ...                      ...
172                           73.0                     79.6
173                            7.0                      NaN
174                            5.0                      NaN
175                           58.0                     80.8
176                            NaN                      NaN
177                           57.0                     99.5
178                          139.0                     69.4
179                           70.0                     92.6
180                           49.0                      NaN
181                           89.0                     53.2
182                           17.0                     98.9
183                           35.0                     98.5
184                            8.0                     74.3
185                           51.0                     87.4
186                           29.0                     98.8
187                            NaN                      NaN
188                          159.0                     68.1
189                           29.0                     99.4
190                           37.0                     88.5
191                           27.0                      NaN
192                           43.0                      NaN
193                           64.0                     96.8
194                           40.0                      NaN
195                           92.0                     75.5
196                           81.0                     93.0
197                           25.0                     90.3
198                            NaN                      NaN
199                           83.0                     54.1
200                          161.0                     68.0
201                          101.0                     89.5

     Gross national income per capita (PPP international $)  \
0                                                  NaN
1                                               6000.0
2                                               5940.0
3                                                  NaN
4                                               3890.0
5                                              15130.0
6                                              11670.0
7                                               4950.0
8                                              33940.0
9                                              36040.0
10                                              5430.0
11                                                 NaN
12                                             34310.0
13                                              1230.0
14                                             15150.0
15                                              9700.0
16                                             33860.0
17                                              7080.0
18                                              1250.0
19                                                 NaN
20                                              4000.0
21                                              3810.0
22                                              6780.0
23                                             11730.0
24                                              8700.0
25                                             49900.0
26                                             10270.0
27                                              1130.0
28                                               320.0
29                                              1550.0
..                                                 ...
172                                             4700.0
173                                            34310.0
174                                            40840.0
175                                             4110.0
176                                                NaN
177                                             1560.0
178                                              980.0
179                                             7440.0
180                                             5100.0
181                                              770.0
182                                             5470.0
183                                            16800.0
184                                             6490.0
185                                             8410.0
186                                             3990.0
187                                                NaN
188                                              880.0
189                                             6110.0
190                                            31190.0
191                                            33650.0
192                                            44070.0
193                                             9940.0
194                                             2190.0
195                                             3480.0
196                                            10970.0
197                                             2310.0
198                                                NaN
199                                             2090.0
200                                             1140.0
201                                                NaN

     Net primary school enrolment ratio female (%)  \
0                                              NaN
1                                             93.0
2                                             94.0
3                                             83.0
4                                             49.0
5                                              NaN
6                                             98.0
7                                             84.0
8                                             97.0
9                                             98.0
10                                            83.0
11                                            89.0
12                                            98.0
13                                            90.0
14                                            96.0
15                                            88.0
16                                            97.0
17                                            97.0
18                                            73.0
19                                             NaN
20                                            79.0
21                                            95.0
22                                             NaN
23                                            85.0
24                                            95.0
25                                            94.0
26                                            92.0
27                                            42.0
28                                            73.0
29                                            89.0
..                                             ...
172                                           79.0
173                                           95.0
174                                           89.0
175                                           92.0
176                                            NaN
177                                           95.0
178                                           97.0
179                                           94.0
180                                           67.0
181                                           75.0
182                                           94.0
183                                           85.0
184                                           97.0
185                                           89.0
186                                            NaN
187                                            NaN
188                                            NaN
189                                           90.0
190                                           88.0
191                                           99.0
192                                           93.0
193                                          100.0
194                                           78.0
195                                           86.0
196                                           91.0
197                                           91.0
198                                            NaN
199                                           65.0
200                                           94.0
201                                           88.0

     Net primary school enrolment ratio male (%)  \
0                                            NaN
1                                           94.0
2                                           96.0
3                                           83.0
4                                           51.0
5                                            NaN
6                                           99.0
7                                           80.0
8                                           96.0
9                                           97.0
10                                          86.0
11                                          87.0
12                                          98.0
13                                          87.0
14                                          97.0
15                                          90.0
16                                          97.0
17                                          97.0
18                                          87.0
19                                           NaN
20                                          79.0
21                                          94.0
22                                           NaN
23                                          83.0
24                                          93.0
25                                          94.0
26                                          93.0
27                                          52.0
28                                          76.0
29                                          91.0
..                                           ...
172                                         78.0
173                                         95.0
174                                         89.0
175                                         97.0
176                                          NaN
177                                         99.0
178                                         98.0
179                                         94.0
180                                         70.0
181                                         86.0
182                                         97.0
183                                         85.0
184                                         96.0
185                                         93.0
186                                          NaN
187                                          NaN
188                                          NaN
189                                         90.0
190                                         88.0
191                                         98.0
192                                         91.0
193                                        100.0
194                                         79.0
195                                         88.0
196                                         91.0
197                                         96.0
198                                          NaN
199                                         85.0
200                                         90.0
201                                         87.0

     Population (in thousands) total
0                            26088.0
1                             3172.0
2                            33351.0
3                               74.0
4                            16557.0
5                               84.0
6                            39134.0
7                             3010.0
8                            20530.0
9                             8327.0
10                            8406.0
11                             327.0
12                             739.0
13                          155991.0
14                             293.0
15                            9742.0
16                           10430.0
17                             282.0
18                            8760.0
19                               NaN
20                             649.0
21                            9354.0
22                            3926.0
23                            1858.0
24                          189323.0
25                             382.0
26                            7693.0
27                           14359.0
28                            8173.0
29                           14197.0
..                               ...
172                           1134.0
173                           9078.0
174                           7455.0
175                          19408.0
176                              NaN
177                           6640.0
178                          39459.0
179                          63444.0
180                           1114.0
181                           6410.0
182                            100.0
183                           1328.0
184                          10215.0
185                          73922.0
186                           4899.0
187                             10.0
188                          29899.0
189                          46557.0
190                           4248.0
191                          60512.0
192                         302841.0
193                           3331.0
194                          26981.0
195                            221.0
196                          27191.0
197                          86206.0
198                              NaN
199                          21732.0
200                          11696.0
201                          13228.0

[202 rows x 9 columns]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
5,Antigua and Barbuda,6,4,NaN,NaN,15130.0,NaN,NaN,84.0
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0
8,Australia,9,6,16.0,NaN,33940.0,97.0,96.0,20530.0
9,Austria,10,2,14.0,NaN,36040.0,98.0,97.0,8327.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0
11,Bahamas,12,4,46.0,NaN,NaN,89.0,87.0,327.0
12,Bahrain,13,1,14.0,86.5,34310.0,98.0,98.0,739.0
13,Bangladesh,14,7,135.0,47.5,1230.0,90.0,87.0,155991.0
14,Barbados,15,4,51.0,NaN,15150.0,96.0,97.0,293.0
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0
16,Belgium,17,2,5.0,NaN,33860.0,97.0,97.0,10430.0
17,Belize,18,5,90.0,70.3,7080.0,97.0,97.0,282.0
18,Benin,19,3,108.0,34.7,1250.0,73.0,87.0,8760.0
19,Bermuda,20,4,NaN,NaN,NaN,NaN,NaN,NaN
20,Bhutan,21,7,62.0,NaN,4000.0,79.0,79.0,649.0
21,Bolivia,22,5,97.0,86.7,3810.0,95.0,94.0,9354.0
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0
23,Botswana,24,3,51.0,81.2,11730.0,85.0,83.0,1858.0
24,Brazil,25,5,71.0,88.6,8700.0,95.0,93.0,189323.0
25,Brunei Darussalam,26,6,31.0,92.7,49900.0,94.0,94.0,382.0
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0
27,Burkina Faso,28,3,131.0,23.6,1130.0,42.0,52.0,14359.0
28,Burundi,29,3,30.0,59.3,320.0,73.0,76.0,8173.0
29,Cambodia,30,7,52.0,73.6,1550.0,89.0,91.0,14197.0
...,...,...,...,...,...,...,...,...,...
172,Swaziland,173,3,73.0,79.6,4700.0,79.0,78.0,1134.0
173,Sweden,174,2,7.0,NaN,34310.0,95.0,95.0,9078.0
174,Switzerland,175,2,5.0,NaN,40840.0,89.0,89.0,7455.0
175,Syria,176,1,58.0,80.8,4110.0,92.0,97.0,19408.0
176,Taiwan,177,6,NaN,NaN,NaN,NaN,NaN,NaN
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0
178,Tanzania,179,3,139.0,69.4,980.0,97.0,98.0,39459.0
179,Thailand,180,6,70.0,92.6,7440.0,94.0,94.0,63444.0
180,Timor-Leste,181,6,49.0,NaN,5100.0,67.0,70.0,1114.0
181,Togo,182,3,89.0,53.2,770.0,75.0,86.0,6410.0
182,Tonga,183,6,17.0,98.9,5470.0,94.0,97.0,100.0
183,Trinidad and Tobago,184,5,35.0,98.5,16800.0,85.0,85.0,1328.0
184,Tunisia,185,1,8.0,74.3,6490.0,97.0,96.0,10215.0
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0
187,Tuvalu,188,6,NaN,NaN,NaN,NaN,NaN,10.0
188,Uganda,189,3,159.0,68.1,880.0,NaN,NaN,29899.0
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0
190,United Arab Emirates,191,1,37.0,88.5,31190.0,88.0,88.0,4248.0
191,United Kingdom,192,2,27.0,NaN,33650.0,99.0,98.0,60512.0
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0
193,Uruguay,194,5,64.0,96.8,9940.0,100.0,100.0,3331.0
194,Uzbekistan,195,2,40.0,NaN,2190.0,78.0,79.0,26981.0
195,Vanuatu,196,6,92.0,75.5,3480.0,86.0,88.0,221.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [36]:
print("Shape",df.shape) #í–‰/ì—´ =íŠœí”Œë¡œ ë¦¬í„´
print("Length",len(df)) #ë°ì´í„°ê¸¸ì´ = í–‰

Shape (202, 9)
Length 202

In [37]:
print("Column Headers",df.columns) #ì»¬ëŸ¼ëª… í™•ì¸ -> ë¦¬ìŠ¤íŠ¸ë¡œ ì¶œë ¥

Column Headers Index(['Unnamed: 0', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [38]:
print("Data types",df.dtypes) #ë°ì´í„°íƒ€ìž… í™•ì¸

Data types Unnamed: 0                                                 object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [39]:
print("Index",df.index) #dfì— ì¸ë±ìŠ¤ ì¡´ìž¬ 0ë¶€í„° 202

Index RangeIndex(start=0, stop=202, step=1)

In [41]:
print("Values",df.values) #ê°’ ì¶”ì¶œ

Values [['Afghanistan' 1 1 ... nan nan 26088.0]
 ['Albania' 2 2 ... 93.0 94.0 3172.0]
 ['Algeria' 3 3 ... 94.0 96.0 33351.0]
 ...
 ['Yemen' 200 1 ... 65.0 85.0 21732.0]
 ['Zambia' 201 3 ... 94.0 90.0 11696.0]
 ['Zimbabwe' 202 3 ... 88.0 87.0 13228.0]]

In [42]:
#PANDAS Series

In [64]:
country_col = df["Country"]
print("Type df",type(df)) 
#type= ê°ì²´ df=ì¸ìŠ¤í„´ìŠ¤ :ê·¸í˜•íƒœì— ë§žì¶˜ ê²°ê³¼ë¬¼<-í´ëž˜ìŠ¤: í˜•íƒœ /
print("Type country col",type(country_col)) #dfíƒ€ìž…ì´ ì‹œë¦¬ì¦ˆ íƒ€ìž…ìœ¼ë¡œ ë°˜í™˜

Type df <class 'pandas.core.frame.DataFrame'>
Type country col <class 'pandas.core.series.Series'>

In [67]:
#ë°ì´í„° íƒ€ìž…ì¸ ì‹œë¦¬ì¦ˆ ì¸ country_col ì— ëŒ€í•œ êµ¬ì¡° 
print("Series shape:\n", country_col.shape, "\n")
print("Series index:\n", country_col.index, "\n")
print("Series values:\n", country_col.values, "\n")
print("Series name:\n", country_col.name, "\n")

Series shape:
 (202,)

Series index:
 RangeIndex(start=0, stop=202, step=1)

Series values:
 ['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

Series name:
 Country

In [72]:
#ìŠ¬ë¼ì´ì‹± 
print("Last 2 countries:\n", country_col[-2:], "\n")
print("Last 2 countries type:\n", type(country_col[-2:]), "\n")

Last 2 countries:
 200      Zambia
201    Zimbabwe
Name: Country, dtype: object

Last 2 countries type:
 <class 'pandas.core.series.Series'>

In [7]:
#NP ì‚¬ìš© in Pandas - sign(): ì–‘ìˆ˜:1, ìŒìˆ˜ -1 ,0ì´ë©´ 0
last_col = df.columns[-1] #ë§ˆì§€ë§‰ ì»¬ëŸ¼= ì¸êµ¬ìˆ˜
print("Last df column signs:\n", last_col, np.sign(df[last_col]), "\n") 
#sign:+/-ë¶€í˜¸

Last df column signs:
 Population (in thousands) total 0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
5      1.0
6      1.0
7      1.0
8      1.0
9      1.0
10     1.0
11     1.0
12     1.0
13     1.0
14     1.0
15     1.0
16     1.0
17     1.0
18     1.0
19     NaN
20     1.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26     1.0
27     1.0
28     1.0
29     1.0
      ...
172    1.0
173    1.0
174    1.0
175    1.0
176    NaN
177    1.0
178    1.0
179    1.0
180    1.0
181    1.0
182    1.0
183    1.0
184    1.0
185    1.0
186    1.0
187    1.0
188    1.0
189    1.0
190    1.0
191    1.0
192    1.0
193    1.0
194    1.0
195    1.0
196    1.0
197    1.0
198    NaN
199    1.0
200    1.0
201    1.0
Name: Population (in thousands) total, Length: 202, dtype: float64

C:\Users\hyun kyoung oh\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in sign
  This is separate from the ipykernel package so we can avoid doing imports until

'Population (in thousands) total'

In [80]:
np.sum([0,np.nan]) #ì¸ë±ìŠ¤ 0 ì— nan

nan

In [79]:
df.dtypes

Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [9]:
print(np.sum(df[last_col]-df[last_col].values)) #ê°™ì€ê°’
#poptotal - #df['ë³€ìˆ˜ëª…'].values : ì‹œë¦¬ì¦ˆì—ì„œ íŠ¹ì •ê°’ ì¶”ì¶œ

0.0

array([2.608800e+04, 3.172000e+03, 3.335100e+04, 7.400000e+01,
       1.655700e+04, 8.400000e+01, 3.913400e+04, 3.010000e+03,
       2.053000e+04, 8.327000e+03, 8.406000e+03, 3.270000e+02,
       7.390000e+02, 1.559910e+05, 2.930000e+02, 9.742000e+03,
       1.043000e+04, 2.820000e+02, 8.760000e+03,          nan,
       6.490000e+02, 9.354000e+03, 3.926000e+03, 1.858000e+03,
       1.893230e+05, 3.820000e+02, 7.693000e+03, 1.435900e+04,
       8.173000e+03, 1.419700e+04, 1.817500e+04, 3.257700e+04,
       5.190000e+02, 4.265000e+03, 1.046800e+04, 1.646500e+04,
       1.328474e+06, 4.555800e+04, 8.180000e+02,          nan,
                nan, 1.400000e+01, 4.399000e+03, 1.891400e+04,
       4.556000e+03, 1.126700e+04, 8.460000e+02, 1.018900e+04,
       5.430000e+03, 8.190000e+02, 6.800000e+01, 9.615000e+03,
       1.320200e+04, 7.416600e+04, 6.762000e+03, 4.960000e+02,
       4.692000e+03, 1.340000e+03, 8.102100e+04, 8.330000e+02,
       5.261000e+03, 6.133000e+04,          nan, 1.311000e+03,
       1.663000e+03, 4.433000e+03, 8.264100e+04, 2.300800e+04,
       1.112300e+04, 1.060000e+02, 1.302900e+04, 9.181000e+03,
       1.646000e+03, 7.390000e+02, 9.446000e+03, 6.969000e+03,
                nan, 1.005800e+04, 2.980000e+02, 1.151751e+06,
       2.288640e+05, 7.027000e+04, 2.850600e+04, 4.221000e+03,
       6.810000e+03, 5.877900e+04, 2.699000e+03, 1.279530e+05,
       5.729000e+03, 1.531400e+04, 3.655300e+04, 9.400000e+01,
                nan,          nan, 2.779000e+03, 5.259000e+03,
       5.759000e+03, 2.289000e+03, 4.055000e+03, 1.995000e+03,
       3.579000e+03, 6.039000e+03, 3.408000e+03, 4.610000e+02,
                nan, 2.036000e+03, 1.915900e+04, 1.357100e+04,
       2.611400e+04, 3.000000e+02, 1.196800e+04, 4.050000e+02,
       5.800000e+01, 3.044000e+03, 1.252000e+03, 1.053420e+05,
       1.110000e+02, 3.833000e+03, 3.300000e+01, 2.605000e+03,
       6.010000e+02, 3.085300e+04, 2.097100e+04, 4.837900e+04,
       2.047000e+03, 1.000000e+01, 2.764100e+04, 1.637900e+04,
                nan,          nan, 4.140000e+03, 5.532000e+03,
       1.373700e+04, 1.447200e+05, 2.000000e+00, 4.669000e+03,
       2.546000e+03, 1.609430e+05, 2.000000e+01, 3.288000e+03,
       6.202000e+03, 6.016000e+03, 2.758900e+04, 8.626400e+04,
       3.814000e+04, 1.057900e+04,          nan, 8.210000e+02,
       2.153200e+04, 1.432210e+05, 9.464000e+03, 5.000000e+01,
       1.630000e+02, 1.200000e+02, 1.850000e+02, 3.100000e+01,
       1.550000e+02, 2.417500e+04, 1.207200e+04, 9.851000e+03,
       8.600000e+01, 5.743000e+03, 4.382000e+03, 5.388000e+03,
       2.001000e+03, 4.840000e+02, 8.445000e+03, 4.828200e+04,
       4.388700e+04, 1.920700e+04, 3.770700e+04, 4.550000e+02,
       1.134000e+03, 9.078000e+03, 7.455000e+03, 1.940800e+04,
                nan, 6.640000e+03, 3.945900e+04, 6.344400e+04,
       1.114000e+03, 6.410000e+03, 1.000000e+02, 1.328000e+03,
       1.021500e+04, 7.392200e+04, 4.899000e+03, 1.000000e+01,
       2.989900e+04, 4.655700e+04, 4.248000e+03, 6.051200e+04,
       3.028410e+05, 3.331000e+03, 2.698100e+04, 2.210000e+02,
       2.719100e+04, 8.620600e+04,          nan, 2.173200e+04,
       1.169600e+04, 1.322800e+04])

In [15]:
#Querying Data in pandas
import quandl

In [17]:
sunspots=quandl.get("SIDC/SUNSPOTS_A")

In [19]:
type(sunspots) #í™•ì¸

pandas.core.frame.DataFrame

In [26]:
#print("Head 2:\n",sunspots.head(2))
sunspots.head(2)

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1700-12-31,8.3,NaN,NaN,1.0
1701-12-31,18.3,NaN,NaN,1.0

In [23]:
print("Tail 2:\n",sunspots.tail(2))

Tail 2:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1

            Number of Observations  Definitive/Provisional Indicator
Date
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0

In [32]:
last_date = sunspots.index[-1]
print("Last value:\n",sunspots.loc[last_date])

Last value:
 Yearly Mean Total Sunspot Number        7.0
Yearly Mean Standard Deviation          1.1
Number of Observations              12611.0
Definitive/Provisional Indicator        1.0
Name: 2018-12-31 00:00:00, dtype: float64

In [33]:
print("Values slice by date:\n", sunspots["20020101": "20131231"])

Values slice by date:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9

            Number of Observations  Definitive/Provisional Indicator
Date
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0

In [35]:
print("Slice from a list of indices:\n", sunspots.iloc[[2, 4, -4, -2]])

Slice from a list of indices:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1702-12-31                              26.7                             NaN
1704-12-31                              60.0                             NaN
2015-12-31                              69.8                             6.4
2017-12-31                              21.7                             2.5

            Number of Observations  Definitive/Provisional Indicator
Date
1702-12-31                     NaN                               1.0
1704-12-31                     NaN                               1.0
2015-12-31                  8903.0                               1.0
2017-12-31                 11444.0                               1.0

In [37]:
print("Scalar with Iloc:", sunspots.iloc[0, 0])
print("Scalar with iat", sunspots.iat[1, 0])

Scalar with Iloc: 8.3
Scalar with iat 18.3

In [44]:
sunspots > sunspots.mean() #T/F ë¡œë‚˜ì˜´
#sunspots[sunspots > sunspots.mean()] #NaN ìœ¼ë¡œ ë‚˜ì˜´ false

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
Date,,,,
1700-12-31,False,False,False,False
1701-12-31,False,False,False,False
1702-12-31,False,False,False,False
1703-12-31,False,False,False,False
1704-12-31,False,False,False,False
1705-12-31,True,False,False,False
1706-12-31,False,False,False,False
1707-12-31,False,False,False,False
1708-12-31,False,False,False,False
1709-12-31,False,False,False,False
1710-12-31,False,False,False,False
1711-12-31,False,False,False,False
1712-12-31,False,False,False,False
1713-12-31,False,False,False,False
1714-12-31,False,False,False,False
1715-12-31,False,False,False,False
1716-12-31,False,False,False,False
1717-12-31,True,False,False,False
1718-12-31,True,False,False,False
1719-12-31,False,False,False,False
1720-12-31,False,False,False,False
1721-12-31,False,False,False,False
1722-12-31,False,False,False,False
1723-12-31,False,False,False,False
1724-12-31,False,False,False,False
1725-12-31,False,False,False,False
1726-12-31,True,False,False,False
1727-12-31,True,False,False,False
1728-12-31,True,False,False,False
1729-12-31,True,False,False,False
...,...,...,...,...
1989-12-31,True,True,True,False
1990-12-31,True,True,True,False
1991-12-31,True,True,True,False
1992-12-31,True,True,True,False
1993-12-31,False,False,True,False
1994-12-31,False,False,True,False
1995-12-31,False,False,True,False
1996-12-31,False,False,True,False
1997-12-31,False,False,True,False
1998-12-31,True,False,True,False
1999-12-31,True,True,True,False
2000-12-31,True,True,True,False
2001-12-31,True,True,True,False
2002-12-31,True,True,True,False
2003-12-31,True,False,True,False
2004-12-31,False,False,True,False
2005-12-31,False,False,True,False
2006-12-31,False,False,True,False
2007-12-31,False,False,True,False
2008-12-31,False,False,True,False
2009-12-31,False,False,True,False
2010-12-31,False,False,True,False
2011-12-31,True,False,True,False
2012-12-31,True,False,True,False
2013-12-31,True,False,True,False
2014-12-31,True,True,True,False
2015-12-31,False,False,True,False
2016-12-31,False,False,True,False
2017-12-31,False,False,True,False
2018-12-31,False,False,True,False

In [40]:
print("Boolean selection with column label:\n", sunspots[sunspots['Number of Observations'] > sunspots['Number of Observations'].mean()])

Boolean selection with column label:
             Yearly Mean Total Sunspot Number  Yearly Mean Standard Deviation  \
Date
1981-12-31                             198.9                            13.1
1982-12-31                             162.4                            12.1
1983-12-31                              91.0                             7.6
1984-12-31                              60.5                             5.9
1985-12-31                              20.6                             3.7
1986-12-31                              14.8                             3.5
1987-12-31                              33.9                             3.7
1988-12-31                             123.0                             8.4
1989-12-31                             211.1                            12.8
1990-12-31                             191.8                            11.2
1991-12-31                             203.3                            12.7
1992-12-31                             133.0                             8.9
1993-12-31                              76.1                             5.8
1994-12-31                              44.9                             4.4
1995-12-31                              25.1                             3.7
1996-12-31                              11.6                             3.1
1997-12-31                              28.9                             3.6
1998-12-31                              88.3                             6.6
1999-12-31                             136.3                             9.3
2000-12-31                             173.9                            10.1
2001-12-31                             170.4                            10.5
2002-12-31                             163.6                             9.8
2003-12-31                              99.3                             7.1
2004-12-31                              65.3                             5.9
2005-12-31                              45.8                             4.7
2006-12-31                              24.7                             3.5
2007-12-31                              12.6                             2.7
2008-12-31                               4.2                             2.5
2009-12-31                               4.8                             2.5
2010-12-31                              24.9                             3.4
2011-12-31                              80.8                             6.7
2012-12-31                              84.5                             6.7
2013-12-31                              94.0                             6.9
2014-12-31                             113.3                             8.0
2015-12-31                              69.8                             6.4
2016-12-31                              39.8                             3.9
2017-12-31                              21.7                             2.5
2018-12-31                               7.0                             1.1

            Number of Observations  Definitive/Provisional Indicator
Date
1981-12-31                  3049.0                               1.0
1982-12-31                  3436.0                               1.0
1983-12-31                  4216.0                               1.0
1984-12-31                  5103.0                               1.0
1985-12-31                  5543.0                               1.0
1986-12-31                  5934.0                               1.0
1987-12-31                  6396.0                               1.0
1988-12-31                  6556.0                               1.0
1989-12-31                  6932.0                               1.0
1990-12-31                  7108.0                               1.0
1991-12-31                  6932.0                               1.0
1992-12-31                  7845.0                               1.0
1993-12-31                  8010.0                               1.0
1994-12-31                  8524.0                               1.0
1995-12-31                  8429.0                               1.0
1996-12-31                  7614.0                               1.0
1997-12-31                  7294.0                               1.0
1998-12-31                  6353.0                               1.0
1999-12-31                  6413.0                               1.0
2000-12-31                  5953.0                               1.0
2001-12-31                  6558.0                               1.0
2002-12-31                  6588.0                               1.0
2003-12-31                  7087.0                               1.0
2004-12-31                  6882.0                               1.0
2005-12-31                  7084.0                               1.0
2006-12-31                  6370.0                               1.0
2007-12-31                  6841.0                               1.0
2008-12-31                  6644.0                               1.0
2009-12-31                  6465.0                               1.0
2010-12-31                  6328.0                               1.0
2011-12-31                  6077.0                               1.0
2012-12-31                  5753.0                               1.0
2013-12-31                  5347.0                               1.0
2014-12-31                  5273.0                               1.0
2015-12-31                  8903.0                               1.0
2016-12-31                  9940.0                               1.0
2017-12-31                 11444.0                               1.0
2018-12-31                 12611.0                               1.0

In [46]:
#Statistics with pandas DataFrame
import quandl

In [50]:
sunspots = quandl.get("SIDC/SUNSPOTS_A")
sunspots.describe() #ë‹¤ ë³´ê¸° íŽ¸í•¨

,Yearly Mean Total Sunspot Number,Yearly Mean Standard Deviation,Number of Observations,Definitive/Provisional Indicator
count,319.000000,201.000000,201.000000,319.0
mean,78.970533,7.947761,1572.751244,1.0
std,62.019871,3.840522,2667.888556,0.0
min,0.000000,1.100000,150.000000,1.0
25%,24.800000,4.700000,365.000000,1.0
50%,65.800000,7.600000,365.000000,1.0
75%,115.750000,10.400000,366.000000,1.0
max,269.300000,19.100000,12611.000000,1.0

In [55]:
#Data Aggregation
import pandas as pd
from numpy.random import seed
from numpy.random import rand
from numpy.random import randint
import numpy as np

In [56]:
seed(42) #ê³ ì • ëžœë¤ ë‚œìˆ˜

In [57]:
df = pd.DataFrame(
    {'Weather' : ['cold', 'hot', 'cold', 'hot','cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate','icecream', 'icecream', 'soup'],
   'Price' : 10 * rand(7), 
    'Number' : randint(1, 9)}
)
print(df)

  Weather       Food     Price  Number
0    cold       soup  3.745401       8
1     hot       soup  9.507143       8
2    cold   icecream  7.319939       8
3     hot  chocolate  5.986585       8
4    cold   icecream  1.560186       8
5     hot   icecream  1.559945       8
6    cold       soup  0.580836       8

In [58]:
weather_group=df.groupby('Weather') #ê·¸ë£¹í™”
#weather_group ->DATAFRAMEGROUPBY íƒ€ìž…ìž„ 
i=0
for name, group in weather_group: 
    i=i+1
    print("Group",i,name) 
    print(group)
    
#ê° ë°ì´í„°ëŠ” dataframeìœ¼ë¡œ ë¨

Group 1 cold
  Weather      Food     Price  Number
0    cold      soup  3.745401       8
2    cold  icecream  7.319939       8
4    cold  icecream  1.560186       8
6    cold      soup  0.580836       8
Group 2 hot
  Weather       Food     Price  Number
1     hot       soup  9.507143       8
3     hot  chocolate  5.986585       8
5     hot   icecream  1.559945       8

In [59]:
#ê° ê·¸ë£¹ ì²«ë²ˆì§¸í–‰, ë§ˆì§€ë§‰ í–‰, í‰ê·  ì¶œë ¥
print("Weather group first\n", weather_group.first())
print("Weather group last\n", weather_group.last())
print("Weather group mean\n", weather_group.mean())

Weather group first
          Food     Price  Number
Weather
cold     soup  3.745401       8
hot      soup  9.507143       8
Weather group last
              Food     Price  Number
Weather
cold         soup  0.580836       8
hot      icecream  1.559945       8
Weather group mean
             Price  Number
Weather
cold     3.301591       8
hot      5.684558       8

In [62]:
wf_group=df.groupby(['Weather','Food'])
#print("WF Groups",wf_group.groups)
#í…ŒìŠ¤íŠ¸ë¡œ ië¥¼ ë‹¤ì‹œ 0ë¶€í„°í•´ì„œ ë³¼ë•Œ , enumerateë¡œ ê³„ì‚°
for i,(name, group) in enumerate(weather_group):
    i=i+1
    print("Group",i,name) 
    print(group)

Group 1 cold
  Weather      Food     Price  Number
0    cold      soup  3.745401       8
2    cold  icecream  7.319939       8
4    cold  icecream  1.560186       8
6    cold      soup  0.580836       8
Group 2 hot
  Weather       Food     Price  Number
1     hot       soup  9.507143       8
3     hot  chocolate  5.986585       8
5     hot   icecream  1.559945       8

In [61]:
print("WF Aggregated\n",wf_group.agg([np.mean,np.median]))
#agg() = apply() ì ìš©
#np.mean í•¨ìˆ˜ / np.mean() í•¨ìˆ˜ê°’
#agg(í•¨ìˆ˜) : í•¨ìˆ˜ë¥¼ ë°›ëŠ” í•¨ìˆ˜ / í•œë²ˆì— ì—¬ëŸ¬ê°œ ë°›ìŒ

WF Aggregated
                       Price           Number
                       mean    median   mean median
Weather Food
cold    icecream   4.440063  4.440063      8      8
        soup       2.163119  2.163119      8      8
hot     chocolate  5.986585  5.986585      8      8
        icecream   1.559945  1.559945      8      8
        soup       9.507143  9.507143      8      8

In [117]:
#Concatenating and appending DataFrames

In [119]:
print("df :3\n", df[:3])

df :3
   Weather      Food     Price  Number
0    cold      soup  6.075449       5
1     hot      soup  1.705241       5
2    cold  icecream  0.650516       5

In [121]:
print("Concat Back together\n", pd.concat([df[:3], df[3:]]))

Concat Back together
   Weather       Food     Price  Number
0    cold       soup  6.075449       5
1     hot       soup  1.705241       5
2    cold   icecream  0.650516       5
3     hot  chocolate  9.488855       5
4    cold   icecream  9.656320       5
5     hot   icecream  8.083973       5
6    cold       soup  3.046138       5

In [123]:
print("Appending rows\n", df[:3].append(df[5:])) #ì¸ë±ìŠ¤!!! aë¶€í„° bì „ê¹Œì§€

Appending rows
   Weather      Food     Price  Number
0    cold      soup  6.075449       5
1     hot      soup  1.705241       5
2    cold  icecream  0.650516       5
5     hot  icecream  8.083973       5
6    cold      soup  3.046138       5

In [124]:
#Joining DataFrames

In [64]:
dests=pd.read_csv('dest.csv')
print("Dests\n",dests)

Dests
    EmpNr       Dest
0      5  The Hague
1      3  Amsterdam
2      9  Rotterdam

In [65]:
tips=pd.read_csv('tips.csv')
print("Tips\n",tips)

Tips
    EmpNr  Amount
0      5    10.0
1      9     5.0
2      7     2.5

In [66]:
#merge ê¸°ì¤€on='', ê°™ì€ ê°’ë§Œ
pd.merge(dests,tips,on='EmpNr')

   EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [67]:
#destê¸°ì¤€ìœ¼ë¡œ tipsê°€ ê·¸ëŒ€ë¡œ ë¶™ìŒ suffix left/right ìœ„ì¹˜
dests.join(tips,lsuffix='Dest',rsuffix='Tips')

   EmpNrDest       Dest  EmpNrTips  Amount
0          5  The Hague          5    10.0
1          3  Amsterdam          9     5.0
2          9  Rotterdam          7     2.5

In [133]:
#inner join
print("Inner join with merge()\n",pd.merge(dests,tips,how='inner'))

Inner join with merge()
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      9  Rotterdam     5.0

In [134]:
#full outer join with NAN
print("Inner join with merge()\n",pd.merge(dests,tips,how='outer'))

Inner join with merge()
    EmpNr       Dest  Amount
0      5  The Hague    10.0
1      3  Amsterdam     NaN
2      9  Rotterdam     5.0
3      7        NaN     2.5

In [170]:
#Handling missing values ëˆ„ë½ëœê±° ì²˜ë¦¬í•˜ê¸°
df = pd.read_csv('WHO_first9cols.csv')
df

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0
5,Antigua and Barbuda,6,4,NaN,NaN,15130.0,NaN,NaN,84.0
6,Argentina,7,5,62.0,97.2,11670.0,98.0,99.0,39134.0
7,Armenia,8,2,30.0,99.4,4950.0,84.0,80.0,3010.0
8,Australia,9,6,16.0,NaN,33940.0,97.0,96.0,20530.0
9,Austria,10,2,14.0,NaN,36040.0,98.0,97.0,8327.0
10,Azerbaijan,11,2,31.0,98.8,5430.0,83.0,86.0,8406.0
11,Bahamas,12,4,46.0,NaN,NaN,89.0,87.0,327.0
12,Bahrain,13,1,14.0,86.5,34310.0,98.0,98.0,739.0
13,Bangladesh,14,7,135.0,47.5,1230.0,90.0,87.0,155991.0
14,Barbados,15,4,51.0,NaN,15150.0,96.0,97.0,293.0
15,Belarus,16,2,22.0,99.6,9700.0,88.0,90.0,9742.0
16,Belgium,17,2,5.0,NaN,33860.0,97.0,97.0,10430.0
17,Belize,18,5,90.0,70.3,7080.0,97.0,97.0,282.0
18,Benin,19,3,108.0,34.7,1250.0,73.0,87.0,8760.0
19,Bermuda,20,4,NaN,NaN,NaN,NaN,NaN,NaN
20,Bhutan,21,7,62.0,NaN,4000.0,79.0,79.0,649.0
21,Bolivia,22,5,97.0,86.7,3810.0,95.0,94.0,9354.0
22,Bosnia and Herzegovina,23,2,25.0,96.7,6780.0,NaN,NaN,3926.0
23,Botswana,24,3,51.0,81.2,11730.0,85.0,83.0,1858.0
24,Brazil,25,5,71.0,88.6,8700.0,95.0,93.0,189323.0
25,Brunei Darussalam,26,6,31.0,92.7,49900.0,94.0,94.0,382.0
26,Bulgaria,27,2,40.0,98.2,10270.0,92.0,93.0,7693.0
27,Burkina Faso,28,3,131.0,23.6,1130.0,42.0,52.0,14359.0
28,Burundi,29,3,30.0,59.3,320.0,73.0,76.0,8173.0
29,Cambodia,30,7,52.0,73.6,1550.0,89.0,91.0,14197.0
...,...,...,...,...,...,...,...,...,...
172,Swaziland,173,3,73.0,79.6,4700.0,79.0,78.0,1134.0
173,Sweden,174,2,7.0,NaN,34310.0,95.0,95.0,9078.0
174,Switzerland,175,2,5.0,NaN,40840.0,89.0,89.0,7455.0
175,Syria,176,1,58.0,80.8,4110.0,92.0,97.0,19408.0
176,Taiwan,177,6,NaN,NaN,NaN,NaN,NaN,NaN
177,Tajikistan,178,2,57.0,99.5,1560.0,95.0,99.0,6640.0
178,Tanzania,179,3,139.0,69.4,980.0,97.0,98.0,39459.0
179,Thailand,180,6,70.0,92.6,7440.0,94.0,94.0,63444.0
180,Timor-Leste,181,6,49.0,NaN,5100.0,67.0,70.0,1114.0
181,Togo,182,3,89.0,53.2,770.0,75.0,86.0,6410.0
182,Tonga,183,6,17.0,98.9,5470.0,94.0,97.0,100.0
183,Trinidad and Tobago,184,5,35.0,98.5,16800.0,85.0,85.0,1328.0
184,Tunisia,185,1,8.0,74.3,6490.0,97.0,96.0,10215.0
185,Turkey,186,2,51.0,87.4,8410.0,89.0,93.0,73922.0
186,Turkmenistan,187,2,29.0,98.8,3990.0,NaN,NaN,4899.0
187,Tuvalu,188,6,NaN,NaN,NaN,NaN,NaN,10.0
188,Uganda,189,3,159.0,68.1,880.0,NaN,NaN,29899.0
189,Ukraine,190,2,29.0,99.4,6110.0,90.0,90.0,46557.0
190,United Arab Emirates,191,1,37.0,88.5,31190.0,88.0,88.0,4248.0
191,United Kingdom,192,2,27.0,NaN,33650.0,99.0,98.0,60512.0
192,United States of America,193,4,43.0,NaN,44070.0,93.0,91.0,302841.0
193,Uruguay,194,5,64.0,96.8,9940.0,100.0,100.0,3331.0
194,Uzbekistan,195,2,40.0,NaN,2190.0,78.0,79.0,26981.0
195,Vanuatu,196,6,92.0,75.5,3480.0,86.0,88.0,221.0
196,Venezuela,197,5,81.0,93.0,10970.0,91.0,91.0,27191.0
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0

In [171]:
df = df[['Country', df.columns[-2]]][:2]
df
#df.columns[-2] ë³€ìˆ˜ëª… ëŒ€ì‹

       Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0

In [160]:
print("New df\n", df)

New df
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          NaN
1      Albania                                         94.0

In [161]:
print("Null Values\n", pd.isnull(df))

Null Values
    Country  Net primary school enrolment ratio male (%)
0    False                                         True
1    False                                        False

In [172]:
print("Total Null Values\n", pd.isnull(df).sum())

Total Null Values
 Country                                        0
Net primary school enrolment ratio male (%)    1
dtype: int64

In [173]:
print("Not Null Values\n", df.notnull())

Not Null Values
    Country  Net primary school enrolment ratio male (%)
0     True                                        False
1     True                                         True

In [174]:
print("Last Column Doubled\n", 2 * df[df.columns[-1]])

Last Column Doubled
 0      NaN
1    188.0
Name: Net primary school enrolment ratio male (%), dtype: float64

In [175]:
print("Last Column plus NaN\n", df[df.columns[-1]] + np.nan)

Last Column plus NaN
 0   NaN
1   NaN
Name: Net primary school enrolment ratio male (%), dtype: float64

In [176]:
print("Zero filled\n", df.fillna(0))

Zero filled
        Country  Net primary school enrolment ratio male (%)
0  Afghanistan                                          0.0
1      Albania                                         94.0

In [178]:
#dealing with dates
#pd.date_range('ì‹œìž‘ì˜ ë‚ ì§œí˜• ë¬¸ìž','ëì˜ ë‚ ì§œí˜• ë¬¸ìž')
#: ì—°ì†ì ì¸ ë‚ ì§œì˜ ì¶œë ¥ / freq= ë¹ˆë„ìˆ˜ / period: ì¼ìž
print("Data range",pd.date_range('1/1/1900',periods=42,freq='D'))

Data range DatetimeIndex(['1900-01-01', '1900-01-02', '1900-01-03', '1900-01-04',
               '1900-01-05', '1900-01-06', '1900-01-07', '1900-01-08',
               '1900-01-09', '1900-01-10', '1900-01-11', '1900-01-12',
               '1900-01-13', '1900-01-14', '1900-01-15', '1900-01-16',
               '1900-01-17', '1900-01-18', '1900-01-19', '1900-01-20',
               '1900-01-21', '1900-01-22', '1900-01-23', '1900-01-24',
               '1900-01-25', '1900-01-26', '1900-01-27', '1900-01-28',
               '1900-01-29', '1900-01-30', '1900-01-31', '1900-02-01',
               '1900-02-02', '1900-02-03', '1900-02-04', '1900-02-05',
               '1900-02-06', '1900-02-07', '1900-02-08', '1900-02-09',
               '1900-02-10', '1900-02-11'],
              dtype='datetime64[ns]', freq='D')

In [191]:

import sys
try:
   print("Date range", pd.date_range('1/1/1677', periods=4, freq='D'))
except:
   etype, value, _ = sys.exc_info()
#ì˜¤ë¥˜í´ëž˜ìŠ¤, ë°œìƒì´ìœ . ë°œìƒìœ„ì¹˜ì •ë³´ = íŠœí”Œíƒ€ìž…
   print("Error encountered", etype, value)

Error encountered <class 'pandas._libs.tslibs.np_datetime.OutOfBoundsDatetime'> Out of bounds nanosecond timestamp: 1677-01-01 00:00:00

In [185]:
#offset : ìž…ë ¥ê°’ ê·¸ëŒ€ë¡œ ì¶œë ¥ / DateOffset :ë‚ ì§œ ë³€ìˆ˜ ë°›ìŒ
offset= pd.DateOffset(seconds=2 ** 33/10 **9)
mid=pd.to_datetime('1/1/1970')
#string íƒ€ìž…ì˜ ì‹œê°„ì„ Timestampí˜•

In [189]:
print("Start valid range", mid - offset)

Start valid range 1969-12-31 23:59:51.410065

In [190]:
print("End valid range", mid + offset)

End valid range 1970-01-01 00:00:08.589935

In [192]:
print("With format", pd.to_datetime(['19021112', '19031230'], format='%Y%m%d'))

With format DatetimeIndex(['1902-11-12', '1903-12-30'], dtype='datetime64[ns]', freq=None)

In [68]:
print("Illegal date", pd.to_datetime(['1902-11-12', 'not a date']) )

ValueError: ('Unknown string format:', 'not a date')

In [195]:
print("Illegal date coerced", pd.to_datetime(['1902-11-12', 'not a date'], errors='coerce'))
#íŒŒì‹±ì´ ë¶ˆê°€í•œ ê²½ìš° NaN(Not a Number)ê°’ìœ¼ë¡œ ë°˜í™˜
#errors= : 'coerce' : 'ë¬´ì‹œ'/'raise' : ''ì˜ˆì™¸'/''ignore' : ' ê°•ì œ'

Illegal date coerced DatetimeIndex(['1902-11-12', 'NaT'], dtype='datetime64[ns]', freq=None)

In [196]:
#Pivot Tables
seed(42)

In [199]:
N=7 #í–‰
df = pd.DataFrame({
   'Weather' : ['cold', 'hot', 'cold', 'hot','cold', 'hot', 'cold'],
   'Food' : ['soup', 'soup', 'icecream', 'chocolate','icecream', 'icecream', 'soup'],
   'Price' : 10 * rand(N), 
    'Number' : randint(1, 9)})

In [203]:
print("DataFrame\n", df)
df

DataFrame
   Weather       Food     Price  Number
0    cold       soup  3.337086       4
1     hot       soup  1.428668       4
2    cold   icecream  6.508885       4
3     hot  chocolate  0.564116       4
4    cold   icecream  7.219988       4
5     hot   icecream  9.385527       4
6    cold       soup  0.007788       4

  Weather       Food     Price  Number
0    cold       soup  3.337086       4
1     hot       soup  1.428668       4
2    cold   icecream  6.508885       4
3     hot  chocolate  0.564116       4
4    cold   icecream  7.219988       4
5     hot   icecream  9.385527       4
6    cold       soup  0.007788       4

In [204]:
#pivot_table : ë¶„ì„í•  ì»¬ëŸ¼ê°’ìœ¼ë¡œë§Œ ë°ì´í„°í”„ë ˆìž„ ë§Œë“¦
#(ë¶„ì„í• ë°ì´í„°,columns:['']:ì—´ ì¸ë±ìŠ¤ í‚¤, aggfunc=ë¶„ì„ë©”ì„œë“œ)
print(pd.pivot_table(df, columns=['Food'], aggfunc=np.sum))

Food    chocolate  icecream       soup
Number   4.000000   12.0000  12.000000
Price    0.564116   23.1144   4.773542